<nav id="navbar"
     class="navbar navbar-fixed-top navbar-light divided"
>
    <div class="container">
        <a class="navbar-brand totop"
           href="#"
        >Строительный контроль</a>

        <div class="navbar-toggler pull-xs-right hidden-lg-up onclick"
             data-toggle="collapse"
             data-target=".navbar-collapse"
        >
            <span class="icon icon-bars"
                  aria-hidden="true"
            ></span>
        </div>

        <div class="navbar-collapse collapse navbar-toggleable-md">
            <ul class="nav navbar-nav pull-md-right">
                <li class="nav-item">
                    <a class="nav-link"
                       href="#services"
                    >Услуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#warranties"
                    >Гарантии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#objects"
                    >Наш опыт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#about"
                    >О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#contact"
                    >Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
